<div class="container-fluid">
    <div class="row heading-top">
        <div class="content">Top Rated Amenities In and Around [Listing Name]</div>
    </div>
    <div class="row left-margin-1">
        <div class="col-xs-10 top-left">
            <div class="carousel-class"></div>
            <div>Test</div>
        </div>

        <div class="col-xs-2">
            <button class="btn btn-default btn-settings">
                <div class="dropup">
                    <div class="caret"></div>
                </div>
            </button>

            <div class="square">
                <div class="square-content">
                    <i class="fa fa-cutlery image-settings"></i>
                    <div>Nearby Restaurant</div>
                </div>
            </div>

            <div class="square">
                <div class="square-content">
                    <i class="fa fa-shopping-basket image-settings"></i>
                    <div>Nearby Groceries</div>
                </div>
            </div>

            <div class="square">
                <div class="square-content">
                    <i class="fa fa-dollar image-settings"></i>
                    <div>Nearby Banks</div>
                </div>
            </div>

            <button class="btn btn-default btn-settings">
                <div class="caret"></div>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="pull-right">
            <img src="http://joyfulhome.com/app/public/amenities_yelp.png">
        </div>
    </div>
</div>
